<p>Hello @Model.TrainerFirstName,</p>
<p>
    <span>The process for starting @Model.NumberOfVMs virtual machine(s) for the '@Model.SessionName' training session just finished running.</span><br />
    <span>@Model.NumberOfVMs VM(s) was(were) started successfully.</span>
</p>
<p>
    <span>Number of users: @Model.NumberOfUsers.</span><br />
    <span>Service name: @Model.ServiceName.</span>
</p>
<p>
    <span>Regards,</span><br />
    <span>gbLabs Team</span>
</p>