<p>Hello @Model.TrainerFirstName,</p>
<p>
    The process for starting the virtual machine(s) for the '@Model.SessionName' training session has began.
</p>
<p>
    <span>@Model.SessionName training session details:</span><br />
    &nbsp;&nbsp;&nbsp;<span>- session start: @Model.StartDate</span><br />
    &nbsp;&nbsp;&nbsp;<span>- session end: @Model.EndDate</span><br />
    &nbsp;&nbsp;&nbsp;<span>- number of users: @Model.NumberOfUsers</span><br />
    &nbsp;&nbsp;&nbsp;<span>- lab name: @Model.LabName</span><br />
    &nbsp;&nbsp;&nbsp;<span>- service name: @Model.ServiceName</span>
</p>
<p>
    <span>Regards,</span><br />
    <span>gbLabs Team</span>
</p>